@font-face {
  font-family: "PT Sans";
  src: url("fonts.woff2") format("woff2"),
       url("fonts.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts.woff2") format("woff2"),
       url("fonts.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  width: 1200px;
}

main {
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

/* шапка сайта */

.navigation-logo{
  display: block;
  margin-left: 70px;
  width: 139px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.navigation-menu {
  display: flex;
  width: 1200px;
  margin: 0 auto;

}

/*.navigation-logo {
  margin-right: 30px;
}*/

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 390px;
  margin-right: auto;
  margin-left: 39px;
  align-items: center;
}

.navigation-user {
  display: flex;
  padding: 0;
  margin: 0;
  width: 264px;
  align-items: center;
}

.navigation-item {
  align-items: center;
  margin-right: 34px;
  list-style-type: none;
}
.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link{
  display: block;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.want-link {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
}

/* основной контент */
.main_index {
  background-color: #9c9797;
}

.main_banner {
 background-image: url("../images/main-banner.jpg");
 background-size: 100% auto;
 background-repeat: no-repeat;
 padding-top: 51px;
 }

.mask {
  width: 100%;
  height: 57px;
}

.welcome {
  display: block;
  margin: 0 auto;
  margin-bottom: 26px;

}

.main_information {
  background-color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 63px;
  padding-bottom: 90px;
 }

.main_information_title {
  margin-top: 0;
  margin-bottom: 31px;
}

 .causes {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
 }

.advantages_list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

 .advantages_item {
  display: flex;
  text-align: center;
  width: 100%;
 }

.services {
  width: 100%;
}

.advanatges_services {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  width: 100%;
}
.services_item {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 80px 85px;
}


.advantages_item_block {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  padding: 92px 85px;
 }

.advantages_block {
  display: block;
  width: 230px;
  height: 200px;
}

 .advantages_title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
 }

 .advantages_number {
  margin-top: 0;
  margin-bottom: 30px;
 }

 .advantages_description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
 }

 /* форма с вопросом */
.question_block {
  background-color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  padding-top: 92px;
  padding-bottom: 92px;
}

.title_text_question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.description_text {
  margin-top: 0;
  margin-bottom: 56px;
}

.search_button {
  border-style: none;
}

/* Форма подписи */
 .subscription {
  background-color: #82B3D3;
  background-image: url("../images/shape-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  padding: 94px 0;
 }

 .title_text_subscription {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.description_text {
  margin-bottom: 46px;
}

.subscription_button {
  border-style: none;
}

/* Футер */
footer {
  background-color: #FFFFFF;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer_social_list {
  margin: 0;
  padding-left: 0;
}

.social {
  display: flex;
  max-width: 142px;
}

.footer_contacts {
  display: flex;
  max-width: 720px;
  justify-content: center;
}

.contacts_phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.inner-header-title {
  margin-top: 0;
  font-size: 60px;
  line-height: 78px;
}

.filter-block {
  width: 1060px;
  margin: 0 auto;
}

.catalog-products {
  background-color: #82B3D3;
  background-image: url("../images/background-filter.jfif");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-weight: 700;
}

.catalog-filter {
  display: flex;
}

.hotel-cards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /*width: 1200px;*/
  background-color: #FFFFFF;
}

.hotel-cards-wrapper {
  width: 1200px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.reset-links {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.number_of_hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
}
/* карточка товара */
.card {
  display: flex;
  width: 340px;
  flex-grow: 1;
}

.product-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 340px 340px 340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: 1060px;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  /*flex-grow: 1;*/
}

.card-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card-button {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.product-card-title {
  font-size: 24px;
  line-height: 28px;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  /*align-content: center;*/
  width: 300px;
}

.product-card-image {
  margin-left: auto;
  margin-right: auto;
}

.product-card-price {
  color: #000000;
  font-weight: 400;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  width: 140px;
}

.detailed {
  background-color: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
}

.favourites {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
}

.product-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Пагинация */
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.paginaton-item {
  display: block;
  list-style-type: none;
  text-align: center;

}

.first-link {
  color:#000000;
  background-color: #F2F2F2;
}

.pagination {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px;
  grid-template-rows: 60px;
}

.pagination-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
}

.number-of-cards {
  display: flex;

}

/* Форма подписи */
.subscription_inner {
  background-color: #FFFFFF;
  text-align: center;
}

.subscription_button {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.title_inner {
  color: #000000;
}

.description_inner {
  color: #000000;
}
