body {
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  width: 1200px;
}

/* карточка товара */

.cards {
  display: flex;
  width: 340px;
  flex-direction: column;
  margin: auto auto;
  flex-grow: 1;
}

.product-card-image {
  margin-left: auto;
  margin-right: auto;
  background-color: #817570
}

.card-text {
  display: grid;
  grid-template-rows: 60px 21px 38px 38px;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
  flex-grow: 1;
}

.product-card-title {

  font-size: 24px;
  line-height: 28px;

}


.product-card-link {
  text-decoration: none;
  color: #000000;
  width: 100%;
  grid-column: 1 / -1;
  align-content: center;
}

.product-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 340px 340px 340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: 1060px;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
}


.card-button {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}




.product-card-price {
  color: #000000;
  font-weight: 400;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  width: 140px;
}

.detailed {
  background-color: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
}

.detailed:hover {
  background-color:#615048;
}

.detailed:focus-visible {
  background-color:#615048;
}

.detailed:active {
  background-color:#756157;
  color: rgba(255, 255, 255, 0.3);
}


.favourites {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
}

.favourites:hover {
  background-color:#68A2CA;
}

.favourites:focus-visible {
  background-color:#68A2CA;
  }

.favourites:active {
  background-color:#82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.card:nth-child(2) .favourites {
  background-color:#7DB54F;
  color: #ffffff;
}

.product-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.product-rating{
  width: 140px;
  background-color: #F2F2F2;
}