@font-face {
  font-family: "PT Sans";
  src: url("fonts.woff2") format("woff2"),
       url("fonts.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts.woff2") format("woff2"),
       url("fonts.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  width: 1280px;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
}

main {
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.navigation {
  /* display: flex; */
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.navigation-menu {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-list {
  padding: 0;
  margin: 0;
  width: 390px;
  margin-right: auto;
}

.navigation-user {
  padding: 0;
  margin: 0;
  width: 264px;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.want-link {
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
}

.main_index {
  background-color: #9c9797;
}

.main_banner {
 background-image: url("../images/main-banner.jpg");
 background-size: 100% auto;
 background-repeat: no-repeat;
 }

.welcome {
  display: block;
  margin: 0 auto;
}

.main_information {
  background-color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
 }

 .causes {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
 }

.advantages_list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

 .advantages_item {
  display: flex;
  text-align: center;
  width: 100%;
 }

.services {
  width: 100%;
}

.advanatges_services {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}
.services_item {
  display: flex;
  flex-direction: column;
  width: 400px; 
}


.advantages_item_block {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
 }

 .advantages_title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
 }

 .advantages_description {
  font-size: 18px;
  line-height: 21px;
 }

.question_block {
  background-color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.title_text_question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

 .subscription {
  background-color: #82B3D3;
  background-image: url("../images/shape-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
 }

 .title_text_subscription {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts_phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.catalog-products {
  background-color: #82B3D3;
  background-image: url("../images/background-filter.jfif");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  font-weight: 700;
}

.hotel-cards {
  background-color: #FFFFFF;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.reset-links {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.number_of_hotels {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  color: #000000;
  font-weight: 400;
}

.product-card-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.detailed {
  background-color: #756157;
  color: #FFFFFF;
  text-transform: uppercase;
}

.favourites {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
}

.product-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.first-link {
  color:#000000;
  background-color: #F2F2F2;
}

.select-control {
  font-size: 
}

.subscription_inner {
  background-color: #FFFFFF;
}

.subscription_button {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.title_inner {
  color: #000000;
}

.description_inner {
  color: #000000;
}